# =========================
# Build directories
# =========================
build/
out/
bin/
Debug/
Release/
x64/
x86/

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.opensdf
*.sdf
*.suo
*.user
*.userosscache
*.ipch

# Visual Studio generated
*.obj
*.pdb
*.ilk
*.idb
*.tlog


# User generated archives
*.zip

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
